.page.theme_dark {
  --accent-color: #FF0070;
  --main-background-color: #000028;
  --cover-image: url(../images/cover-image-dark.png);
  --title-color: #DB00FF;
  --background-color-with-text: var(--accent-color);
  --color-text-in-background: var(--main-background-color);
  --color-text: #F1B2CE;
  --link-effect-color: var(--accent-color);
  --color-border-button-hover: rgba(255, 0, 112, 0.4);
  --color-shadow-title: var(--accent-color);
  --accent-background: #000028;
}

@media (prefers-color-scheme: dark) {
  .page {
    --accent-color: #FF0070;
    --main-background-color: #000028;
    --cover-image: url(../images/cover-image-dark.png);
    --title-color: #DB00FF;
    --background-color-with-text: var(--accent-color);
    --color-text-in-background: var(--main-background-color);
    --color-text: #F1B2CE;
    --color-border-button-hover: rgba(255, 0, 112, 0.4);
    --color-shadow-title: var(--accent-color);
    --accent-background: #000028;
  }

  .decor {
    display: flex;
  }
}