.page.theme_dark {
  --accent-color: #FF0070;
  --main-background-color: #000028;
  --cover-image: url(../images/cover-image-dark.png);
  --title-color: #DB00FF;
  --background-color-with-text: var(--accent-color);
  --color-text-in-background: var(--main-background-color);
  --color-text: #F1B2CE;
  --link-effect-color: #FF0070;

}

@media (prefers-color-scheme: dark) {
  .page {
    --accent-color: #FF0070;
    --main-background-color: #000028;
    --cover-image: url(../images/cover-image-dark.png);
    --title-color: #DB00FF;
    --background-color-with-text: var(--accent-color);
    --color-text-in-background: var(--main-background-color);
    --color-text: #F1B2CE;
  }

  .logo {
    display: flex;
  }
}