.page.theme_light {
  --main-background-color: rgba(255, 241, 247, 1);
  --cover-image: url(../images/cover-image-light.png);
  --accent-color: rgba(53, 52, 48, 1);
  --background-color-with-text: rgba(255, 141, 203, 1);
  --color-text-in-background: var(--accent-color);
  --color-text: #353430;
  --title-color: rgba(255, 194, 230, 1);
  --link-effect-color: #FF8DCB;
  --color-border-button-hover: rgba(50, 49, 45, 0.4);
  --color-shadow-title: rgba(255, 141, 203, 1);
  --accent-background: #FFF1F7;
}

.theme_light:has(.decor) .decor {
  display: none;
}

@media (prefers-color-scheme: light) {
  .page {
    --main-background-color: rgba(255, 241, 247, 1);
    --cover-image: url(../images/cover-image-light.png);
    --accent-color: rgba(53, 52, 48, 1);
    --background-color-with-text: rgba(255, 141, 203, 1);
    --color-text-in-background: var(--accent-color);
    --color-text: #353430;
    --title-color: rgba(255, 194, 230, 1);
    --link-effect-color: #FF8DCB;
    --color-shadow-title: rgba(255, 141, 203, 1);
    --accent-background: #FFF1F7;
  }

  .decor {
    display: none;
  }

  .theme_dark:has(.decor) .decor {
    display: flex;
  }
}